body,
html {
  overflow-x: hidden;
}
.banner {
  position: relative;
}
.banner .banner-img {
  width: 100%;
}
.banner .banner-img img {
  display: block;
  width: 100%;
}
.banner .banner-h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner .banner-h2 h2 {
  position: relative;
  top: 45%;
  width: 90%;
  max-width: 1400px;
  font-size: 0.72rem;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.title_h2 {
  font-size: 0.48rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}
main .main-nav.active {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  z-index: 10;
}
main .main-nav {
  box-shadow: 0px 1px 40px 0px rgba(0, 62, 153, 0.15);
  background-color: #fff;
}
main .main-nav ul {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
main .main-nav ul li {
  display: flex;
  width: 2.26rem;
  height: 60px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
}
main .main-nav ul li:last-of-type a::after {
  display: none;
}
main .main-nav ul li a {
  position: relative;
  width: 100%;
  height: 18px;
  line-height: 18px;
  font-size: 0.18rem;
  text-align: center;
}
main .main-nav ul li a::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #13558A;
}
main .main-nav-mar.active-margin {
  margin-top: 60px;
}
main .blurb {
  margin: 0 auto;
  padding: 0.8rem 0 2rem;
  background: url(../img/jtjs-bg.jpg) no-repeat bottom / 100%;
}
main .blurb .blurb-content {
  width: 90%;
  max-width: 1326px;
  margin: 0.9rem auto;
}
main .blurb .blurb-content .blurb-text {
  padding-top: 0.6rem;
}
main .blurb .blurb-content .blurb-text p {
  color: #5a5a5a;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 10px;
}
main .course {
  padding: 0.8rem 0 1.6rem;
  background: url(../img/fzlc-bg.jpg) no-repeat bottom / 100%;
}
main .course .course-content {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
main .course .course-content .course-banner {
  display: flex;
  margin-top: 0.7rem;
  height: 560px;
  overflow: hidden;
}
main .course .course-content .course-banner .course-date {
  position: relative;
  width: 41%;
}
main .course .course-content .course-banner .course-date::after {
  position: absolute;
  top: 50%;
  right: -0.09rem;
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  background-color: #13558a;
  z-index: 2;
}
main .course .course-content .course-banner .course-date ul {
  position: relative;
  top: 0;
  transition: all 0.4s;
}
main .course .course-content .course-banner .course-date ul li {
  height: 112px;
  line-height: 112px;
  text-align: right;
  font-size: 36px;
  padding-right: 0.66rem;
  box-sizing: border-box;
}
main .course .course-content .course-banner .course-date .banner-show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 112px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
main .course .course-content .course-banner .course-date .banner-show::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: '';
  width: 1rem;
  height: 1px;
  background-color: #000;
}
main .course .course-content .course-banner .course-date .banner-show span {
  position: absolute;
  font-size: 26px;
  cursor: pointer;
  background-color: #fff;
}
main .course .course-content .course-banner .course-date .banner-show .course-date-up {
  top: -18px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
main .course .course-content .course-banner .course-date .banner-show .course-date-down {
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
main .course .course-content .course-banner .course-text {
  position: relative;
  padding-left: 0.66rem;
  box-sizing: border-box;
  flex: 1;
}
main .course .course-content .course-banner .course-text::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 2px;
  height: 92%;
  background-color: #ccc;
  z-index: 1;
}
main .course .course-content .course-banner .course-text ul {
  position: relative;
  top: 0;
  transition: all 0.4s;
}
main .course .course-content .course-banner .course-text ul li {
  display: flex;
  align-items: center;
  height: 112px;
}
main .course .course-content .course-banner .course-text ul li p {
  font-size: 16px;
}
main .honour {
  background: url(../img/ryzz-bg.jpg) no-repeat bottom / cover;
}
main .honour .honour-content {
  width: 90%;
  max-width: 1240px;
  margin: auto;
  padding: 0.8rem 0;
}
main .honour .honour-content .honour-text {
  display: flex;
  padding-top: 0.7rem;
  justify-content: space-between;
}
main .honour .honour-content .honour-text ul {
  width: 48%;
}
main .honour .honour-content .honour-text ul li {
  position: relative;
  height: 48px;
  line-height: 48px;
  margin-bottom: 14px;
  padding-left: 60px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 6px 11.57px 1.43px rgba(163, 163, 163, 0.21);
  border-radius: 10px;
}
main .honour .honour-content .honour-text ul li::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  display: block;
  content: '';
  width: 9px;
  height: 9px;
  background-color: #13558a;
}
main .honour .honour-content .honour-text ul li p {
  font-size: 0.18rem;
}
main .culture {
  background: url(../img/block5-bg.jpg) no-repeat top / 100% 400px;
}
main .culture .culture-content {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  padding-top: 1rem;
}
main .culture .culture-content h2 {
  color: #fff;
}
main .culture .culture-content .culture-main {
  padding-top: 0.7rem;
}
main .culture .culture-content .culture-main .culture-main-top {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 1px 21px 0px rgba(57, 57, 57, 0.13);
}
main .culture .culture-content .culture-main .culture-main-top > div {
  width: 48.8%;
}
main .culture .culture-content .culture-main .culture-main-top > div:last-child p {
  height: 60px;
  line-height: 30px;
}
main .culture .culture-content .culture-main .culture-main-top > div .culture-main-top-text {
  padding: 20px 0.5rem;
  box-sizing: border-box;
  background-color: #13558a;
  color: #fff;
}
main .culture .culture-content .culture-main .culture-main-top > div .culture-main-top-text h4 {
  letter-spacing: 1em;
  font-size: 0.3rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
main .culture .culture-content .culture-main .culture-main-top > div .culture-main-top-text p {
  line-height: 30px;
  font-size: 0.18rem;
}
main .culture .culture-content .culture-main .culture-main-top img {
  display: block;
  width: 100%;
}
main .culture .culture-content .culture-main .culture-main-bott {
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
}
main .culture .culture-content .culture-main .culture-main-bott h4 {
  font-size: 0.3rem;
  font-weight: bold;
}
main .culture .culture-content .culture-main .culture-main-bott p {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-l {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 342px;
  height: 390px;
  background: url(../img/block5-3.jpg) no-repeat top;
}
main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-l .item-text {
  color: #fff;
  text-align: center;
}
main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-l .item-text h4 {
  margin-bottom: 0.25rem;
}
main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-l .item-text p {
  line-height: 30px;
}
main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-r {
  display: flex;
  padding: 0 10px;
  flex: 1;
  align-items: center;
}
main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-r ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-r ul li {
  width: calc(100% / 3);
  text-align: center;
  margin: 0.3rem 0;
}
main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-r ul li h4 {
  color: #13558A;
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 1024px) {
  .title_h2 {
    font-size: 22px;
  }
  .banner {
    position: relative;
  }
  .banner .banner-h2 h2 {
    font-size: 28px;
    margin: 0;
    padding: 0 26px;
  }
  main .main-nav.active {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  main .main-nav ul {
    width: 96%;
  }
  main .main-nav ul li {
    width: 90px;
  }
  main .main-nav ul li a {
    font-size: 12px;
  }
  main .course .course-content {
    width: 100%;
  }
  main .course .course-content .course-banner .course-date {
    width: 120px;
  }
  main .course .course-content .course-banner .course-date::after {
    width: 6px;
    height: 6px;
    right: -4px;
  }
  main .course .course-content .course-banner .course-date ul li {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 0;
  }
  main .course .course-content .course-banner .course-date .banner-show::before {
    display: none;
  }
  main .course .course-content .course-banner .course-text ul li p {
    font-size: 12px;
  }
  main .honour .honour-content .honour-text {
    flex-wrap: wrap;
  }
  main .honour .honour-content .honour-text ul {
    width: 100%;
  }
  main .honour .honour-content .honour-text ul li p {
    font-size: 10px;
  }
  main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-r ul li {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  main .culture .culture-content .culture-main .culture-main-top {
    flex-wrap: wrap;
    padding: 0;
  }
  main .culture .culture-content .culture-main .culture-main-top > div {
    width: 100%;
  }
  main .culture .culture-content .culture-main .culture-main-bott {
    padding: 0;
    flex-wrap: wrap;
  }
  main .culture .culture-content .culture-main .culture-main-bott .culture-main-bott-l {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
  }
}
